button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    position: static;
    width: 127px;
    height: 40px;
    left: 0px;
    top: 224px;

    /* color-white */

    background: #ffffff;
    border-radius: 50px;
    border: 0px;
    box-sizing: border-box;


    /* Inside Auto Layout */

    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 16px 0px;
}
h1{
    color: #0A376E;
    font-weight: bold;
}

.icon{
    position: static;
    width: 16px;
    height: 15px;
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0px 0px;
    margin-right: 2px;
    margin-top: 5px;
}
.vl {
  border-left: 2px solid #dddddd;
  height: 130vh;
  margin-left: 180px;
}
.search-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 229px;
    height: 40px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 14px;
    font-family: Roboto;
    color: #8E8E8E;
    margin: 0px 24px;
}
.bell-btn{
    position: static;
    width: 42px;
    height: 40px;
    left: 189px;
    top: 0px;

    /* color-white */

    background: #FFFFFF;
    box-shadow: 1px 1px 10px -5px rgba(0, 0, 0, 0.25);
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 40px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
.circle{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 106px;
    top: 9px;

    /* color-purple-500 */

    background: #1473E6;
    /* color-gray-100 */

    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 80.2%;
    margin-top: 15px;
}
.vl-1{
    position: static;
    width: 50px;
    height: 0px;
    left: 265px;
    top: 5px;

    /* color-gray-200 */

    border: 1px solid #DDDDDD;
    transform: rotate(90deg);

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}
.image{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 140px;
    top: 0px;
    border-radius: 20px;
    margin-left: 85%;
}
.tble{
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    padding: 0px;

    position: absolute;
    width: 976px;
    height: 600px;
    left: -347px;
    top: 150px;
    padding-left: 15px;

    background: #ffffff;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 10%;
}
th{
    position: static;
    width: 800px;
    height: 54px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    background-color: #F7F7F8;
}
.name{
    align-items: center;
    padding: 0px 24px;

    position: static;
    width: 251.5px;
    height: 54px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
}
.pincode-address{
    align-items: center;
    padding: 0px 16px 0px 24px;

    position: static;
    width: 1100px;
    height: 54px;
    left: 1006px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}
td{
    position: static;
    width: 156px;
    height: 54px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}
